DirectoryIndex index.php
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1
ErrorDocument 401 /error401.html

php_value upload_max_filesize 50M
php_value post_max_size 50M
